.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: inherit;
  text-decoration: none !important;
}


.img-hover-zoom {
  height: 30rem;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.8s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.search-wrapper{
  padding: 4rem 0;
}

.backDrop-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  filter: brightness(40%);
}

.movie-rating-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
  background-color: #0288d1;
}

@media (min-width: 1441px) {
  .movieDetails-wrapper {
    padding-top: 15rem;
    color: white;
  }

  .movieDetails-wrapper .movie-overview{
    height: 10rem;
  }
}

@media (max-width: 1440px) {
  .movieDetails-wrapper {
    padding-top: 6rem;
    color: white;
  }

  .movieDetails-wrapper .movie-overview{
    height: 6rem;
  }
}

@media (max-width: 1024px) {
  .movieDetails-wrapper {
    padding-top: 10rem;
    color: black;
  }
  .movieDetails-wrapper .movie-overview{
    height: auto;
  }
  .movieDetails-wrapper header {
    color: white;
  }
}

@media (max-width: 768px) {
  .movieDetails-wrapper {
    padding-top: 5rem;
    color: black;
  }

  .movieDetails-wrapper header {
    color: white;
  }
}

@media (max-width: 425px) {
  .movieDetails-wrapper {
    padding-top: 2rem;
    color: black;
  }
  .movieDetails-wrapper header {
    color: black;
  }
}
